body {
    font-family: 'Arial', sans-serif;
    font-size: larger;
    color: purple;
    margin: 0;
    padding: 0;
}

#countdown-container {
    text-align: center;
}

.hidden {
    display: none;
}
